﻿<#@ template language="C#" #>
<#@ output encoding="utf-8"#>

<#@ assembly name="C:\Program Files (x86)\Hedgehog Development\Team Development for Sitecore (VS2013)\HedgehogDevelopment.SitecoreProject.VSIP2013.dll" #>
<#@ import namespace="HedgehogDevelopment.SitecoreProject.VSIP.CodeGeneration.Models" #>
<#@ parameter name="Model" type="HedgehogDevelopment.SitecoreProject.VSIP.CodeGeneration.Models.SitecoreItem" #>
<#@ parameter name="DefaultNamespace" type="System.String" #>

<#@ assembly name="System.Core" #>

<#@ import namespace="Microsoft.CSharp" #>
<#@ import namespace="System.CodeDom.Compiler" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Diagnostics.CodeAnalysis" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Text.RegularExpressions" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Diagnostics.Contracts" #>
<#@ import namespace="System.Linq" #>

<#+

    /// <summary>
    /// Extensions used during T4 template generation.
    /// </summary>
    /// <remarks>
    /// This extension library was forked from Hedgehog Development's T4 starter kit. 
    /// https://github.com/HedgehogDevelopment/tds-codegen.git
    /// I changed the namespace to ensure it doesn't conflict with other TDS projects
    /// you may have running.; I have made some slight modifications to produce class 
    /// names that I find a bit more pleasing.
    /// </remarks>
    [SuppressMessage("StyleCop.CSharp.MaintainabilityRules", "SA1402:FileMayOnlyContainASingleClass", 
        Justification = "Reviewed. Suppression is OK here.")]
    public static class GeneralExtensions
    {
        #region Public Methods and Operators

        /// <summary>
        /// Gets the value of the item in the dictionary at the specified key.
        /// if the key is not found, returns an empty string.
        /// </summary>
        /// <param name="dictionary">The dictionary.</param>
        /// <param name="key">The key.</param>
        /// <returns>
        /// The value at the specifed entry, or "" if the key does not exist.
        /// </returns>
        /// <remarks>
        /// This method is very useful within a T4 file to pull out a specific value of the fields property.
        /// </remarks>
        public static string GetValue(Dictionary<string, string> dictionary, string key)
        {
            string @out;
            if (!dictionary.TryGetValue(key, out @out))
            {
                @out = string.Empty;
            }

            return @out;
        }

        /// <summary>
        /// Recursively projects each nested element to an <see cref="IEnumerable{TSource}" />
        /// and flattens the resulting sequences into one sequence.
        /// </summary>
        /// <typeparam name="TSource">The type of the elements of <paramref name="source" />.</typeparam>
        /// <param name="source">A sequence of values to project.</param>
        /// <param name="recursiveSelector">A transform to apply to each element.</param>
        /// <returns>
        /// An <see cref="IEnumerable{TSource}" /> whose elements are the
        /// result of recursively invoking the recursive transform function
        /// on each element and nested element of the input sequence.
        /// </returns>
        public static IEnumerable<TSource> SelectRecursive<TSource>(
            IEnumerable<TSource> source, 
            Func<TSource, IEnumerable<TSource>> recursiveSelector)
        {
            // ReSharper disable SuggestUseVarKeywordEvident
            var stack = new Stack<IEnumerator<TSource>>();

            // ReSharper restore SuggestUseVarKeywordEvident
            stack.Push(source.GetEnumerator());

            try
            {
                while (stack.Count > 0)
                {
                    if (stack.Peek().MoveNext())
                    {
                        TSource current = stack.Peek().Current;

                        yield return current;

                        stack.Push(recursiveSelector(current).GetEnumerator());
                    }
                    else
                    {
                        stack.Pop().Dispose();
                    }
                }
            }
            finally
            {
                while (stack.Count > 0)
                {
                    stack.Pop().Dispose();
                }
            }
        }

        #endregion
    }

    /// <summary>
    /// The Inflector class transforms words from one 
    /// form to another. For example, from singular to plural.
    /// </summary>
    [SuppressMessage("StyleCop.CSharp.MaintainabilityRules", "SA1402:FileMayOnlyContainASingleClass", 
        Justification = "Reviewed. Suppression is OK here.")]
    public static class Inflector
    {
        #region Static Fields

        /// <summary>
        /// The plurals.
        /// </summary>
        private static readonly List<Rule> Plurals = new List<Rule>();

        /// <summary>
        /// The singulars.
        /// </summary>
        private static readonly List<Rule> Singulars = new List<Rule>();

        /// <summary>
        /// The un-countables.
        /// </summary>
        [SuppressMessage("StyleCop.CSharp.DocumentationRules", "SA1650:ElementDocumentationMustBeSpelledCorrectly", 
            Justification = "Reviewed. Suppression is OK here.")]
        private static readonly HashSet<string> Uncountables = new HashSet<string>();

        #endregion

        #region Constructors and Destructors

        /// <summary>
        /// Initializes static members of the <see cref="Inflector"/> class.
        /// </summary>
        static Inflector()
        {
            // ReSharper disable StringLiteralTypo
            AddPlural("$", "s");
            AddPlural("s$", "s");
            AddPlural("(ax|test)is$", "$1es");
            AddPlural("(octop|vir)us$", "$1i");
            AddPlural("(alias|status)$", "$1es");
            AddPlural("(bu)s$", "$1ses");
            AddPlural("(buffal|tomat)o$", "$1oes");
            AddPlural("([ti])um$", "$1a");
            AddPlural("sis$", "ses");
            AddPlural("(?:([^f])fe|([lr])f)$", "$1$2ves");
            AddPlural("(hive)$", "$1s");
            AddPlural("([^aeiouy]|qu)y$", "$1ies");
            AddPlural("(x|ch|ss|sh)$", "$1es");
            AddPlural("(matr|vert|ind)ix|ex$", "$1ices");
            AddPlural("([m|l])ouse$", "$1ice");
            AddPlural("^(ox)$", "$1en");
            AddPlural("(quiz)$", "$1zes");

            AddSingular("s$", string.Empty);
            AddSingular("(n)ews$", "$1ews");
            AddSingular("([ti])a$", "$1um");
            AddSingular("((a)naly|(b)a|(d)iagno|(p)arenthe|(p)rogno|(s)ynop|(t)he)ses$", "$1$2sis");
            AddSingular("(^analy)ses$", "$1sis");
            AddSingular("([^f])ves$", "$1fe");
            AddSingular("(hive)s$", "$1");
            AddSingular("(tive)s$", "$1");
            AddSingular("([lr])ves$", "$1f");
            AddSingular("([^aeiouy]|qu)ies$", "$1y");
            AddSingular("(s)eries$", "$1eries");
            AddSingular("(m)ovies$", "$1ovie");
            AddSingular("(x|ch|ss|sh)es$", "$1");
            AddSingular("([m|l])ice$", "$1ouse");
            AddSingular("(bus)es$", "$1");
            AddSingular("(o)es$", "$1");
            AddSingular("(shoe)s$", "$1");

            AddSingular("(cris|ax|test)es$", "$1is");

            AddSingular("(octop|vir)i$", "$1us");
            AddSingular("(alias|status)es$", "$1");
            AddSingular("^(ox)en", "$1");
            AddSingular("(vert|ind)ices$", "$1ex");
            AddSingular("(matr)ices$", "$1ix");
            AddSingular("(quiz)zes$", "$1");

            AddIrregular("person", "people");
            AddIrregular("man", "men");
            AddIrregular("child", "children");
            AddIrregular("sex", "sexes");
            AddIrregular("move", "moves");

            AddUncountable("equipment");
            AddUncountable("information");
            AddUncountable("rice");
            AddUncountable("money");
            AddUncountable("species");
            AddUncountable("series");
            AddUncountable("fish");
            AddUncountable("sheep");

            // ReSharper restore StringLiteralTypo
        }

        #endregion

        #region Public Methods and Operators

        /// <summary>
        /// Capitalizes a word.
        /// </summary>
        /// <param name="word">
        /// The word to be capitalized.
        /// </param>
        /// <returns>
        /// <paramref name="word"/> capitalized.
        /// </returns>
        public static string Capitalize(string word)
        {
            return word.Substring(0, 1).ToUpper() + word.Substring(1).ToLower();
        }

        /// <summary>
        /// Return the plural of a word.
        /// </summary>
        /// <param name="word">
        /// The singular form
        /// </param>
        /// <returns>
        /// The plural form of <paramref name="word"/>
        /// </returns>
        public static string Pluralize(string word)
        {
            return ApplyRules(Plurals, word);
        }

        /// <summary>
        /// Return the singular of a word.
        /// </summary>
        /// <param name="word">
        /// The plural form
        /// </param>
        /// <returns>
        /// The singular form of <paramref name="word"/>
        /// </returns>
        public static string Singularize(string word)
        {
            return ApplyRules(Singulars, word);
        }

        #endregion

        #region Methods

        /// <summary>
        /// Adds a rule to the Irregulars collection.
        /// </summary>
        /// <param name="singular">
        /// The singular.
        /// </param>
        /// <param name="plural">
        /// The plural.
        /// </param>
        private static void AddIrregular(string singular, string plural)
        {
            AddPlural("(" + singular[0] + ")" + singular.Substring(1) + "$", "$1" + plural.Substring(1));
            AddSingular("(" + plural[0] + ")" + plural.Substring(1) + "$", "$1" + singular.Substring(1));
        }

        /// <summary>
        /// Adds a rule to the Plurals collection.
        /// </summary>
        /// <param name="rule">
        /// The rule.
        /// </param>
        /// <param name="replacement">
        /// The replacement.
        /// </param>
        private static void AddPlural(string rule, string replacement)
        {
            Plurals.Add(new Rule(rule, replacement));
        }

        /// <summary>
        /// Adds a rule to the Singulars collection.
        /// </summary>
        /// <param name="rule">
        /// The rule.
        /// </param>
        /// <param name="replacement">
        /// The replacement.
        /// </param>
        private static void AddSingular(string rule, string replacement)
        {
            Singulars.Add(new Rule(rule, replacement));
        }

        /// <summary>
        /// Adds a rule to the Uncountables collection.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        [SuppressMessage("StyleCop.CSharp.DocumentationRules", "SA1650:ElementDocumentationMustBeSpelledCorrectly", 
            Justification = "Reviewed. Suppression is OK here.")]
        private static void AddUncountable(string word)
        {
            Uncountables.Add(word.ToLower());
        }

        /// <summary>
        /// Applies the supplied rule list to the supplied word.
        /// </summary>
        /// <param name="rules">
        /// The rules.
        /// </param>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// The modified word.
        /// </returns>
        private static string ApplyRules(IList rules, string word)
        {
            var result = word;

            if (!Uncountables.Contains(word.ToLower()))
            {
                for (var i = rules.Count - 1; i >= 0; i--)
                {
                    var rule = (Rule)rules[i];

                    if ((result = rule.Apply(word)) != null)
                    {
                        break;
                    }
                }
            }

            return result ?? word; // worse case, return the original word
        }

        #endregion

        /// <summary>
        /// Defines a word modification rule.
        /// </summary>
        [SuppressMessage("StyleCop.CSharp.MaintainabilityRules", "SA1402:FileMayOnlyContainASingleClass", 
            Justification = "Reviewed. Suppression is OK here.")]
        private class Rule
        {
            #region Fields

            /// <summary>
            /// The expression for this rule.
            /// </summary>
            private readonly Regex regex;

            /// <summary>
            /// The replacement string for the RegEx.
            /// </summary>
            private readonly string replacement;

            #endregion

            #region Constructors and Destructors

            /// <summary>
            /// Initializes a new instance of the <see cref="Rule"/> class.
            /// </summary>
            /// <param name="pattern">
            /// The pattern.
            /// </param>
            /// <param name="replacement">
            /// The replacement.
            /// </param>
            public Rule(string pattern, string replacement)
            {
                this.regex = new Regex(pattern, RegexOptions.IgnoreCase);
                this.replacement = replacement;
            }

            #endregion

            #region Public Methods and Operators

            /// <summary>
            /// Modifies the supplied word using the Regex and Replacement properties.
            /// </summary>
            /// <param name="word">
            /// The word.
            /// </param>
            /// <returns>
            /// The modified word.
            /// </returns>
            public string Apply(string word)
            {
                if (!this.regex.IsMatch(word))
                {
                    return null;
                }

                return this.regex.Replace(word, this.replacement);
            }

            #endregion
        }
    }

    /// <summary>
    /// The string extensions.
    /// </summary>
    [SuppressMessage("StyleCop.CSharp.MaintainabilityRules", "SA1402:FileMayOnlyContainASingleClass", 
        Justification = "Reviewed. Suppression is OK here.")]
    public static class StringExtensions
    {
        #region Static Fields

        /// <summary>
        /// As valid word regex
        /// </summary>
        private static readonly Regex AsValidWordRegex =
            new Regex(@"[^\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}\p{Nl}\p{Mn}\p{Mc}\p{Cf}\p{Pc}\p{Lm}]", RegexOptions.Compiled);

        /// <summary>
        /// The title case regex
        /// </summary>
        private static readonly Regex TitleCaseRegex = new Regex(
            "([a-z](?=[A-Z])|[A-Z](?=[A-Z][a-z]))", 
            RegexOptions.Compiled);

        #endregion

        #region Public Methods and Operators

        /// <summary>
        /// Ases the name of the class.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// The word as class name
        /// </returns>
        public static string AsClassName(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            // TitleCase the word
            return GetFormattedWord(word, TitleCase);
        }

        /// <summary>
        /// Ases the name of the field.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// The word as field name
        /// </returns>
        public static string AsFieldName(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            // Note, this isn't MS guideline, but it easier to deal with than using this. everywhere to avoid name collisions
            // ReSharper disable RedundantLambdaParameterType
            return GetFormattedWord(word, TitleCase, (string s) => "field" + s);

            // ReSharper restore RedundantLambdaParameterType
        }

        /// <summary>
        /// Ases the name of the interface.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// The word as interace name
        /// </returns>
        public static string AsInterfaceName(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            /*
            * return I[TitleCaseWord]
            * something -> ISomething
            * Something -> ISomething
            * ISomething -> ISomething
            */
            var interfaceWord = GetFormattedWord(word, TitleCase);

            // Only prefix the word with a 'I' if we don't have a word that already looks like an interface.
            if (!IsInterfaceWord(word))
            {
                interfaceWord = string.Concat("I", interfaceWord);
            }

            return interfaceWord;
        }

        /// <summary>
        /// Concatenates all of the <paramref name="words"/> with a '.' separator.
        /// <para>
        /// Each word is passed through the <c>AsValidWord</c> method ensuring that it is a valid for a namespace segment.
        /// </para>
        /// <para>
        /// Leading, trailing, and more than one consecutive '.' are removed.
        /// </para>
        /// </summary>
        /// <param name="words">
        /// The namespace segments.
        /// </param>
        /// <returns>
        /// A valid string in valid namespace format.
        /// </returns>
        /// <example>
        /// This sample shows how to call the <see cref="AsNamespace"/> method.
        /// <code>
        /// string[] segments = new string[5]{ ".My", "Namespace.", "For", "The...Sample..", "Project."};
        /// string ns = segments.AsNamespace();
        /// </code>
        /// The <c>ns</c> variable would contain "<c>My.Namespace.For.The.Sample.Project</c>".
        /// </example>
        public static string AsNamespace(IEnumerable<string> words)
        {
            var joinedNamespace = new List<string>();
            foreach (var segment in words)
            {
                if (!string.IsNullOrWhiteSpace(segment))
                {
                    // split apart any strings with a '.' and remove any consecutive multiple '.'
                    var segments = segment.Split(new[] { '.' , '/' }, StringSplitOptions.RemoveEmptyEntries);

                    // being we are making a namespace, make sure the segments are valid
                    var validSegments = AsValidWords(segments);
                    joinedNamespace.AddRange(validSegments);
                }
            }

            var ns = string.Join(".", joinedNamespace.ToArray());
            return ns;
        }

        /// <summary>
        /// Ases the name of the property.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <param name="pluralize">
        /// if set to <c>true</c> [pluralize].
        /// </param>
        /// <returns>
        /// The word as property name
        /// </returns>
        public static string AsPropertyName(string word, bool pluralize = false)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            // TitleCase the word and pluralize it
            if (pluralize)
            {
                return GetFormattedWord(word, TitleCase, Inflector.Pluralize);
            }

            return GetFormattedWord(word, TitleCase);
        }

        /// <summary>
        /// Tests whether the word conflicts with reserved or language keywords, and if so, attempts to return a
        /// valid word that does not conflict. Usually the returned word is only slightly modified to differentiate
        /// the identifier from the keyword; for example, the word might be preceded by the underscore ("_") character.
        /// <para>
        /// Valid identifiers in C# are defined in the C# Language Specification, item 2.4.2. The rules are very simple:
        /// - An identifier must start with a letter or an underscore
        /// - After the first character, it may contain numbers, letters, connectors, etc
        /// - If the identifier is a keyword, it must be prepended with “@”
        /// </para>
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// A valid word for the specified word.
        /// </returns>
        public static string AsValidWord(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            var identifier = word;

            if (identifier == "*")
            {
                identifier = "Wildcard";
            }

            identifier = RemoveDiacritics(identifier);

            // C# Identifiers - http://msdn.microsoft.com/en-us/library/aa664670(VS.71).aspx
            // removes all illegal characters
            identifier = AsValidWordRegex.Replace(identifier, string.Empty);

            // The identifier must start with a character or '_'
            if (!(char.IsLetter(identifier, 0) || identifier[0] == '_'))
            {
                identifier = string.Concat("_", identifier);
            }

            // fix language specific reserved words
            identifier = FixReservedWord(identifier);

            return identifier;
        }

        /// <summary>
        /// Tests whether the words conflicts with reserved or language keywords, and if so, attempts to return
        /// valid words that do not conflict. Usually the returned words are only slightly modified to differentiate
        /// the identifier from the keyword; for example, the word might be preceded by the underscore ("_") character.
        /// </summary>
        /// <param name="words">
        /// The words.
        /// </param>
        /// <returns>
        /// The list of words with each word cleaned up into a valid word.
        /// </returns>
        public static IEnumerable<string> AsValidWords(IEnumerable<string> words)
        {
            // ReSharper disable LoopCanBeConvertedToQuery
            foreach (var word in words)
            {
                // ReSharper restore LoopCanBeConvertedToQuery
                if (string.IsNullOrWhiteSpace(word))
                {
                    yield return string.Empty;
                }

                yield return AsValidWord(word);
            }
        }

        /// <summary>
        /// Camels the case.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// The word in Camel Case
        /// </returns>
        public static string CamelCase(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            /*
             * Something -> something
             * ISomething -> iSomething
             * SomethingElse -> somethingElse
             * ISomethingElse -> iSomethingElse
             */
            var titleCase = TitleCase(word);
            return titleCase.Substring(0, 1).ToLower() + titleCase.Substring(1);
        }

        /// <summary>
        /// Gets a custom property from the data assuming it is query string format
        /// </summary>
        /// <param name="data">
        /// A string in query string format.
        /// </param>
        /// <param name="key">
        /// The key to get the value for.
        /// </param>
        /// <returns>
        /// The value, or an empty string
        /// </returns>
        public static string GetCustomProperty(string data, string key)
        {
            if (string.IsNullOrWhiteSpace(data))
            {
                return string.Empty;
            }

            var strArray = data.Split('&');
            var keyEquals = key + "=";
            var length = keyEquals.Length;

            foreach (var keyValuePair in strArray)
            {
                if ((keyValuePair.Length > length)
                    && keyValuePair.StartsWith(keyEquals, StringComparison.OrdinalIgnoreCase))
                {
                    return keyValuePair.Substring(length);
                }
            }

            return string.Empty;
        }

        /// <summary>
        /// Determines whether [is interface word] [the specified word].
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// The word as interface
        /// </returns>
        public static bool IsInterfaceWord(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return false;
            }

            // looks like an interface if... I[A-Z]xxxx
            // proper definition is http://msdn.microsoft.com/en-us/library/8bc1fexb(v=VS.71).aspx
            return word.Length > 2 && !word.Contains(" ")
                   && (word[0] == 'I' && char.IsUpper(word, 1) && char.IsLower(word, 2));
        }

        /// <summary>
        /// Titles the case.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// The word as title case
        /// </returns>
        [SuppressMessage("StyleCop.CSharp.DocumentationRules", "SA1600:ElementsMustBeDocumented", 
            Justification = "Reviewed. Suppression is OK here.")]
        public static string TitleCase(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            var newWord = TitleCaseRegex.Replace(word, "$1+");
            newWord = CultureInfo.InvariantCulture.TextInfo.ToTitleCase(newWord);
            newWord = newWord.Replace("+", string.Empty);
            return newWord;
        }

        #endregion

        #region Methods

        /// <summary>
        /// Tests whether the word conflicts with reserved or language keywords, and if so, attempts to return a
        /// valid word that does not conflict. Usually the returned word is only slightly modified to differentiate
        /// the identifier from the keyword; for example, the word might be preceded by the underscore ("_") character.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <returns>
        /// A valid identifier.
        /// </returns>
        private static string FixReservedWord(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            // turns keywords into usable words.
            // i.e. class -> _class
            var codeProvider = new CSharpCodeProvider();
            return codeProvider.CreateValidIdentifier(word);
        }

        /// <summary>
        /// The get formatted word.
        /// </summary>
        /// <param name="word">
        /// The word.
        /// </param>
        /// <param name="transformations">
        /// The transformations.
        /// </param>
        /// <returns>
        /// The formatted version of the original string.
        /// </returns>
        private static string GetFormattedWord(string word, params Func<string, string>[] transformations)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            var newWord = word.Trim(' ', '_');

            // ReSharper disable LoopCanBeConvertedToQuery
            foreach (var item in transformations)
            {
                // ReSharper restore LoopCanBeConvertedToQuery
                if (item != null)
                {
                    newWord = item(newWord);
                }
            }

            // Now that the basic transforms are done, make sure we have a valid word to use 
            newWord = AsValidWord(newWord);
            return newWord;
        }

        /// <summary>
        /// Remplacement "des caractères accentués"
        /// </summary>
        /// <param name="word">
        /// The string to replace diacritics on.
        /// </param>
        /// <returns>
        /// The string without diacritic marks.
        /// </returns>
        /// <remarks>
        /// A diacritic is a glyph added to a letter, or basic glyph
        /// </remarks>
        private static string RemoveDiacritics(string word)
        {
            if (string.IsNullOrWhiteSpace(word))
            {
                return string.Empty;
            }

            var normalizedString = word.Normalize(NormalizationForm.FormD);
            var stringBuilder = new StringBuilder();

            foreach (var c in normalizedString)
            {
                if (CharUnicodeInfo.GetUnicodeCategory(c) != UnicodeCategory.NonSpacingMark)
                {
                    stringBuilder.Append(c);
                }
            }

            return stringBuilder.ToString();
        }

        #endregion
    }

    /// <summary>
    /// Methods that are useful for T4 Template code generation, and are meant to be called from the T4 Template.
    /// </summary>
    public static class ParsingUtility
    {
        #region Public Methods and Operators

        /// <summary>
        /// Gets a list of all fields from the template.
        /// <para>
        /// If desired, fields from all base templates will be included.
        /// </para>
        /// </summary>
        /// <param name="item">
        /// The item.
        /// </param>
        /// <param name="includeBases">
        /// if set to <c>true</c> include base template's fields.
        /// </param>
        /// <returns>
        /// The list of fields.
        /// </returns>
        public static List<SitecoreField> GetFieldsForTemplate(SitecoreTemplate item, bool includeBases)
        {
            var fields = new List<SitecoreField>();

            // Add direct fields that aren't ignored
            fields.AddRange(item.Fields.Where(f => StringExtensions.GetCustomProperty(f.Data, "ignore") != "true"));

            if (!includeBases)
            {
                return fields;
            }

            // leverage an extension method to recursively select base templates, then flatten the fields down
            var baseFields =
                GeneralExtensions.SelectRecursive(item.BaseTemplates, i => i.BaseTemplates).SelectMany(t => t.Fields);

            // only grab base fields who aren't ignored
            fields.AddRange(baseFields.Where(f => StringExtensions.GetCustomProperty(f.Data, "ignore") != "true"));

            return fields;
        }

        /// <summary>
        /// Gets the fully qualified name of the supplied Sitecore Item.
        /// </summary>
        /// <param name="defaultNamespace">
        /// The default namespace.
        /// </param>
        /// <param name="item">
        /// The template item.
        /// </param>
        /// <returns>
        /// The namespace string of the Item.
        /// </returns>
        public static string GetFullyQualifiedName(string defaultNamespace, SitecoreItem item)
        {
            return GetFullyQualifiedName(defaultNamespace, item, s => s);
        }

        /// <summary>
        /// Gets the fully qualified name of the supplied Sitecore Item.
        /// </summary>
        /// <param name="sitePaths">
        /// The site path to namespace mapping.
        /// </param>
        /// <param name="item">
        /// The template item.
        /// </param>
        /// <returns>
        /// The namespace string of the Item.
        /// </returns>
        public static string GetFullyQualifiedName(Dictionary<string,string> sitePaths, SitecoreItem item)
        {
            return GetFullyQualifiedName(sitePaths, item, s => s);
        }

        /// <summary>
        /// Gets the fully qualified name of the supplied Sitecore Item.
        /// </summary>
        /// <param name="defaultNamespace">
        /// The default namespace.
        /// </param>
        /// <param name="item">
        /// The template.
        /// </param>
        /// <param name="methodName">
        /// The function to run the template name through.
        /// </param>
        /// <returns>
        /// The <see cref="string"/>.
        /// </returns>
        public static string GetFullyQualifiedName(
            string defaultNamespace, 
            SitecoreItem item, 
            Func<string, string> methodName)
        {
            return string.Concat(GetNamespace(defaultNamespace, item, true), ".", methodName(item.Name));
        }

        /// <summary>
        /// Gets the fully qualified name of the supplied Sitecore Item.
        /// </summary>
        /// <param name="sitePaths">
        /// The site path to namespace mapping.
        /// </param>
        /// <param name="item">
        /// The template.
        /// </param>
        /// <param name="methodName">
        /// The function to run the template name through.
        /// </param>
        /// <returns>
        /// The <see cref="string"/>.
        /// </returns>
        public static string GetFullyQualifiedName(
            Dictionary<string,string> sitePaths, 
            SitecoreItem item, 
            Func<string, string> methodName)
        {
            return string.Concat(GetNamespace(sitePaths, item, true), ".", methodName(item.Name));
        }

        /// <summary>
        /// Given a SitecoreTemplate, returns a comma-delimited list of interfaces that represent
        /// the supplied Template's inheritance.
        /// </summary>
        /// <param name="sitePaths">
        /// The site path mapping to the namespaces
        /// </param>
        /// <param name="template">
        /// The Data Template to parse.
        /// </param>
        /// <returns>
        /// The inheritance chain for the strongly typed item.
        /// </returns>
        [SuppressMessage("StyleCop.CSharp.NamingRules", "SA1309:FieldNamesMustNotBeginWithUnderscore", 
            Justification = "Reviewed. Suppression is OK here.")]
        public static string GetInheritanceChain(Dictionary<string,string> sitePaths, SitecoreTemplate template)
        {
            var interfaces = GetInheritedInterfaces(new HashSet<string>(), sitePaths, template);

            return interfaces.Any() ? ", " + string.Join(", ", interfaces) : string.Empty;
        }

        /// <summary>
        /// Given a SitecoreTemplate, returns a comma-delimited list of interfaces that represent
        /// the supplied Template's inheritance.
        /// </summary>
        /// <param name="namespace">
        /// The namespace of the Data Template, in C# format.
        /// </param>
        /// <param name="template">
        /// The Data Template to parse.
        /// </param>
        /// <returns>
        /// The inheritance chain for the strongly typed item.
        /// </returns>
        [SuppressMessage("StyleCop.CSharp.NamingRules", "SA1309:FieldNamesMustNotBeginWithUnderscore", 
            Justification = "Reviewed. Suppression is OK here.")]
        public static string GetInheritanceChain(string @namespace, SitecoreTemplate template)
        {
            var interfaces = GetInheritedInterfaces(new HashSet<string>(), @namespace, template);

            return interfaces.Any() ? ", " + string.Join(", ", interfaces) : string.Empty;
        }

        /// <summary>
        /// Gets the calculated namespace for the template
        /// </summary>
        /// <param name="sitePaths">
        /// The site mappings to the namespaces.
        /// </param>
        /// <param name="item">
        /// The item.
        /// </param>
        /// <param name="includeGlobal">
        /// The include Global.
        /// </param>
        /// <returns>
        /// The namespace of the supplied item.
        /// </returns>
        public static string GetNamespace(Dictionary<string,string> sitePaths, SitecoreItem item, bool includeGlobal = false)
        {
            /* Examples:
                    TDS Item Namespace      Jig.Sitecore.Sites.Shared.Data.sitecore.templates.Sites.Shared.HeadTags.OpenGraph
                    Item Path               /sitecore/templates/Sites/Shared/HeadTags/OpenGraph/OpenGraphImageTag
               Result should be:
                    Jig.Sitecore.Sites.Shared.Data.HeadTags.OpenGraph
            */
            if (item == null || sitePaths == null)
            {
                return string.Empty;
            }

            string @namespace = item.Path;
            // ReSharper disable LoopCanBeConvertedToQuery
            foreach (var pair in sitePaths)
            {
               @namespace = @namespace.Replace(pair.Key, pair.Value);
            }

            var namespaceSegments = @namespace.Split(new []{ '/'}, StringSplitOptions.RemoveEmptyEntries);
            var list = new List<string>();
            for (int i = 0; i < namespaceSegments.Length; i++)
            {
                if (i + 1 != namespaceSegments.Length)
                {
                    list.Add(namespaceSegments[i]);
                }
            }

            // ReSharper restore LoopCanBeConvertedToQuery

            @namespace = StringExtensions.AsNamespace(list); // use an extension method in the supporting assembly

            return includeGlobal ? string.Concat("global::", @namespace) : @namespace;
        }

        /// <summary>
        /// Gets the calculated namespace for the template
        /// </summary>
        /// <param name="defaultNamespace">
        /// The default Namespace.
        /// </param>
        /// <param name="item">
        /// The item.
        /// </param>
        /// <param name="includeGlobal">
        /// The include Global.
        /// </param>
        /// <returns>
        /// The namespace of the supplied item.
        /// </returns>
        public static string GetNamespace(string defaultNamespace, SitecoreItem item, bool includeGlobal = false)
        {
            /* Examples:
                    TDS Item Namespace      Jig.Sitecore.Sites.Shared.Data.sitecore.templates.Sites.Shared.HeadTags.OpenGraph
                    Item Path               /sitecore/templates/Sites/Shared/HeadTags/OpenGraph/OpenGraphImageTag
               Result should be:
                    Jig.Sitecore.Sites.Shared.Data.HeadTags.OpenGraph
            */
            var namespaceSegments = new HashSet<string>
                                        {
                                            defaultNamespace
                                        };

            var tokens = item.Path.Split('/');
            if (tokens.Length > 4)
            {
                /* Skip '/sitecore/templates/Sites/{Site Name}' */
                for (int i = 5; i < tokens.Length - 1; i++)
                {
                    namespaceSegments.Add(tokens[i]);
                }
            }

            var @namespace = StringExtensions.AsNamespace(namespaceSegments); // use an extension method in the supporting assembly

            return includeGlobal ? string.Concat("global::", @namespace) : @namespace;
        }

        /// <summary>
        /// Given a sitecore field, returns the name of the property to use.
        /// <para>
        /// If the field is plural, it returns a plural property name
        /// </para>
        /// </summary>
        /// <param name="field">
        /// The field.
        /// </param>
        /// <param name="propertyName">
        /// The property name.
        /// </param>
        /// <returns>
        /// A string to use for a property representing the field
        /// </returns>
        public static string GetPropertyName(SitecoreField field, string propertyName = "name")
        {
            string customName = StringExtensions.GetCustomProperty(field.Data, propertyName);
            if (!string.IsNullOrWhiteSpace(customName))
            {
                return customName;
            }

            bool isFieldPlural = IsFieldPlural(field);

            return StringExtensions.AsPropertyName(field.Name, isFieldPlural);
        }

        /// <summary>
        /// Gets the field short description value
        /// </summary>
        /// <param name="field">
        /// The field.
        /// </param>
        /// <returns>
        /// The field Short description value.
        /// </returns>
        public static string GetPropertyShortDescription(SitecoreField field)
        {
            if (field == null)
            {
                return string.Empty;
            }

            string documentationField;
            field.SitecoreFields.TryGetValue("__Short description", out documentationField);

            return documentationField;
        }

        /// <summary>
        /// Gets the field help link value
        /// </summary>
        /// <param name="field">
        /// The field.
        /// </param>
        /// <returns>
        /// The field Help Link value.
        /// </returns>
        public static string GetPropertyHelpLink(SitecoreField field)
        {
            if (field == null)
            {
                return string.Empty;
            }

            string helpLinkField;
            field.SitecoreFields.TryGetValue("__Help link", out helpLinkField);

            return helpLinkField;
        }

        /// <summary>
        /// Determines whether the Sitecore Field holds multiple values.
        /// </summary>
        /// <param name="field">
        /// The field.
        /// </param>
        /// <returns>
        /// <c>true</c> if the field holds multiple values; otherwise, <c>false</c>.
        /// </returns>
        public static bool IsFieldPlural(SitecoreField field)
        {
            var multipleValueFields = new[]
                                          {
                                             "treelist", "treelistex", "treelist descriptive", "checklist", "multilist" 
                                          };

            return multipleValueFields.Contains(field.Type.ToLower());
        }

        /// <summary>
        /// Takes multiple namespaces ('.' delimited strings) and joins them together
        /// </summary>
        /// <param name="namespaces">
        /// The namespaces.
        /// </param>
        /// <returns>
        /// The concatenated namespaces.
        /// </returns>
        public static string JoinNamespaces(params string[] namespaces)
        {
            // leverage an extension method in the support assembly
            return StringExtensions.AsNamespace(namespaces);
        }

        #endregion

        #region Methods

        /// <summary>
        /// Given a Template, walks up the Inherited Templates fields of the Template's ancestors
        /// to create a complete list of inherited Templates.
        /// </summary>
        /// <param name="interfaces">
        /// The list of interfaces to append.
        /// </param>
        /// <param name="_namespace">
        /// The Namespace of the Template being parsed.
        /// </param>
        /// <param name="template">
        /// The Data Template to parse.
        /// </param>
        /// <returns>
        /// A complete list of inherited template names.
        /// </returns>
        [SuppressMessage("StyleCop.CSharp.NamingRules", "SA1309:FieldNamesMustNotBeginWithUnderscore", 
            Justification = "Reviewed. Suppression is OK here.")]
        private static HashSet<string> GetInheritedInterfaces(
            HashSet<string> interfaces, 
            string _namespace, 
            SitecoreTemplate template)
        {
            if (interfaces == null)
            {
                interfaces = new HashSet<string>();
            }

            foreach (var baseTemplate in template.BaseTemplates)
            {
                var fieldName = GetFullyQualifiedName(_namespace, baseTemplate);
                interfaces.Add(
                    string.Concat(
                        fieldName.Substring(0, fieldName.LastIndexOf(".", StringComparison.OrdinalIgnoreCase)), 
                        '.', 
                        StringExtensions.AsInterfaceName(baseTemplate.Name)));

                interfaces = GetInheritedInterfaces(interfaces, _namespace, baseTemplate);
            }

            return interfaces;
        }

                /// <summary>
        /// Given a Template, walks up the Inherited Templates fields of the Template's ancestors
        /// to create a complete list of inherited Templates.
        /// </summary>
        /// <param name="interfaces">
        /// The list of interfaces to append.
        /// </param>
        /// <param name="sitePaths">
        /// The site path to namespace mapping .
        /// </param>
        /// <param name="template">
        /// The Data Template to parse.
        /// </param>
        /// <returns>
        /// A complete list of inherited template names.
        /// </returns>
        [SuppressMessage("StyleCop.CSharp.NamingRules", "SA1309:FieldNamesMustNotBeginWithUnderscore", 
            Justification = "Reviewed. Suppression is OK here.")]
        private static HashSet<string> GetInheritedInterfaces(
            HashSet<string> interfaces, 
            Dictionary<string,string> sitePaths, 
            SitecoreTemplate template)
        {
            if (interfaces == null)
            {
                interfaces = new HashSet<string>();
            }

            foreach (var baseTemplate in template.BaseTemplates)
            {
                var fieldName = GetFullyQualifiedName(sitePaths, baseTemplate);
                interfaces.Add(
                    string.Concat(
                        fieldName.Substring(0, fieldName.LastIndexOf(".", StringComparison.OrdinalIgnoreCase)), 
                        '.', 
                        StringExtensions.AsInterfaceName(baseTemplate.Name)));

                interfaces = GetInheritedInterfaces(interfaces, sitePaths, baseTemplate);
            }

            return interfaces;
        }

        #endregion
    }

    /// <summary>
    /// Sitecore TDS Extensions
    /// </summary>
    public static partial class SitecoreTdsExtensions
    {
        #region Public Methods and Operators

        /// <summary>
        /// Gets the name of the custom field search index.
        /// </summary>
        /// <param name="field">
        /// The field.
        /// </param>
        /// <returns>
        /// The field name (Lucene)
        /// </returns>
        /// <exception cref="System.Exception">
        /// There SitecoreField cannot ben null!
        /// </exception>
        public static string GetCustomFieldSearchIndexName(SitecoreField field)
        {
            if (field == null)
            {
                throw new Exception("There SitecoreField cannot ben null!");
            }

            var name = field.Name.ToLowerInvariant();

            return name.Replace(' ', '_');
        }

        /// <summary>
        /// Gets the Content field type for the Sitecore field
        /// </summary>
        /// <param name="field">
        /// The field.
        /// </param>
        /// <returns>
        /// The <see cref="string"/>.
        /// </returns>
        /// <exception cref="System.Exception">
        /// There SitecoreField cannot ben null!
        /// or
        /// There is no 'Type' field on the  + field.Name +  field.
        /// </exception>
        public static string GetCustomFieldType(SitecoreField field)
        {
            if (field == null)
            {
                throw new Exception("There SitecoreField cannot ben null!");
            }

            if (field.Type != null)
            {
                switch (field.Type.ToLowerInvariant())
                {
                        // one-to-one matches
                    case "checkbox":
                        return "CheckboxProperty";

                    case "date":
                    case "datetime":
                        return "DateProperty";

                    case "file":
                        return "FileProperty";

                    case "general link":
                    case "external link":
                    case "internal link":
                    case "media link":
                    case "mail to link":
                    case "telephone link":
                    case "anchor link":
                    case "general link with search":
                    case "site external link":
                    case "site internal link":
                    case "site media link":
                    case "site mail to link":
                    case "site telephone link":
                    case "site anchor link":
                        return "LinkProperty";

                    case "grouped droplink":
                        return "GroupedDroplinkProperty";

                    case "html":
                        return "HtmlProperty";

                    case "image":
                        return "ImageProperty";

                        // links
                    case "droplink":
                    case "droplist":
                    case "droptree":
                    case "lookup":
                    case "filtered droptree":
                    case "tree":
                        return "LookupProperty";

                    case "reference":
                        return "ReferenceProperty";

                    // text
                    case "memo":
                    case "multi-line text":
                        return "TextProperty";

                        // text
                    case "integer":
                    case "number":
                    case "rich text":
                    case "single-line text":
                    case "text":
                        return "TextProperty";

                        // lists
                    case "checklist":
                    case "grouped droplist":
                    case "filtered multilist":
                    case "multilist":
                    case "queryable treelist":
                    case "tokenized list":
                    case "treelist":
                    case "treelistex":
                    case "multilist with search":
                        return "MultilistProperty";

                    case "name value list":
                        return "NameValueListProperty";

                    default:
                        return "TextProperty";
                }
            }

            throw new Exception("There is no 'Type' field on the " + field.Name + " field.");
        }

        #endregion
    }
 #>
