﻿@* ClassNamespace = Jig.Sitecore.Development.CustomItems  *@
@* ClassName = CustomItemCodeGenerationView  *@

@inherits Jig.Web.CodeGeneration.Views.CodeGeneratorView<Jig.Sitecore.Development.CustomItems.CustomItemCodeGenerationModel>
#pragma warning disable 1591
#pragma warning disable 0108

namespace @this.Model.Namespace
{
    using System.Linq;
    using global::Sitecore;

    [System.Runtime.InteropServices.Guid("@this.Model.Item.ID.Guid.ToString("D")")]
    [System.Diagnostics.DebuggerStepThrough]
    public partial class @this.Model.ClassName : global::@this.Model.ResolveBaseClassFullType()
    {
        protected @this.Model.ClassName ([NotNull] global::Sitecore.Data.Items.Item innerItem)
            : base(innerItem)
        {
            /* 
             * All Sitecore or Custom fields must have implicit operator.
             * 'static implicit operator {Type}(Field field)' 
             */
        }
@foreach (var property in this.Model.GetClassProperties())
{
<text>        public global::@property.Type.FullName @property.Name
        {
            get
            {
                var field = this.InnerItem.Fields[FieldNames.@property.Name];

                return field;
            }
        }</text>
}
        [CanBeNull]
        public static implicit operator @this.Model.ClassName ([NotNull] global::Sitecore.Data.Items.Item item)
        {
            /* DESIGN: Should not loop in the base templates too deep */
            // ReSharper disable ConditionIsAlwaysTrueOrFalse
            var typeId = typeof(@this.Model.ClassName).GUID;
            if (item != null && (item.TemplateID.Guid == typeId || item.Template.BaseTemplates.Any(x => x.ID.Guid == typeId)))
            // ReSharper restore ConditionIsAlwaysTrueOrFalse
            {
                return new @this.Model.ClassName (item);
            }
            return null;
        }

        public static partial class FieldNames 
        {
@foreach (var field in this.Model.GetClassPropertyIdCollection())
{
<text>          public static readonly global::Sitecore.Data.ID @field.Name = new global::Sitecore.Data.ID("@field.Id.Guid.ToString("D")");</text>
}
        }
    }
}
