﻿@* ClassNamespace = Jig.Sitecore.Development.WebControlView *@
@* ClassName = RazorControlViewTemplate *@
@* RemoveCsEmptyLines = false *@
@* RemoveEmptyLines = false *@

@inherits Jig.Web.CodeGeneration.Views.CodeGeneratorView<Jig.Sitecore.Development.WebControlView.ViewTemplateModel>

@@* ClassNamespace = @this.Model.Namespace *@@
@@* ClassName = @this.Model.ViewName *@@
@@* ClassMethod = @this.Model.RenderPartialView *@@
@@* GO TO => File Properties => Add to Custom Tool => JigRazorGenerator *@@
@@inherits Jig.Sitecore.Views.WebForms.WebControlView<@this.Model.ModelFullName>

@foreach (var property in this.Model.Properties)
{
// writes @this.Model.{PropertyName} <br />
<text> @@this.Model.</text>@property<text>.Render() <br /></text>
}