﻿@* ClassNamespace = Jig.Sitecore.Development.WebControlView *@
@* ClassName = WebControlViewTemplate *@
@* RemoveCsEmptyLines = false *@
@* RemoveEmptyLines = false *@

@inherits Jig.Web.CodeGeneration.Views.CodeGeneratorView<Jig.Sitecore.Development.WebControlView.ViewTemplateModel>
namespace @this.Model.Namespace 
{
    using System.Runtime.InteropServices;
    using System.Web.UI;
    using Jig.Sitecore;
    using Jig.Web.Html;
    using global::Sitecore;

    /// <summary>
    /// The @this.Model.ViewDisplayName view
    ///     <para>Template Path: @this.Model.ModelFullPath</para>
    ///     <para>Rendering Path: @this.Model.ViewFullPath</para>
    /// </summary>
    [Guid("@this.Model.Id")]
    @this.Model.GetViewAttributeTag()
    @this.Model.GetToolboxDataTag()
    public partial class @this.Model.ViewName : Jig.Sitecore.Views.WebForms.WebControlView<@this.Model.ModelFullName>
    {
        /// <summary>
        /// Called from Sitecore's DoRender() contract, this method will be executed if the control
        /// is not cached and the control has data to render, unless in Page Editor, in which case
        /// the logic will execute regardless.
        /// </summary>
        /// @this.Model.GetParamOutputTag("The HtmlTextWriter for the response.")
        protected override void RenderView([NotNull] HtmlTextWriter output)
        {
            var attributes = this.GetParametersAsXAttributes();
            using (output.RenderSection(this.CssClass, attributes: attributes.Values))
            {
                /* Default Behavior - Renders partial view from generated class */
                this.RenderPartialView(output);
            }
        }
    }
}